@CHARSET "UTF-8";

* {
	margin: 0;
	list-style: none;
	text-decoration: none;
	padding: 0px;
}

@font-face {
	font-family: "Nanum Gothic", ng , NanumGothic ,나눔고딕, 나눔 고딕, sans-serif;
	src: url("/vitanature/font/NanumGothic.eot");
	src: local(※), url("/vitanature/font/NanumGothic.woff") format('woff');
	
}


/* header */

#first_div {
	background-color: #43596b;
	width: 100%;
	height: 105px;
	position: fixed;
	min-width: 990px;
	z-index: 999;
}
#first_div_1 {
	width: 70%;
	height: 64%;
	margin: 0 auto;
	padding: 20px 0px;
}
#second_div {
	width: 18%;
	height: 100%;
	float: left;
	background-color: #c4c4e1;
}
#third_div {
	width: 58%;
	height: 65%;
	padding: 11px 0px;
	float: left;
	margin-top: 5px;
}

#third_div ul {
	width: 88%;
	height: 100%;
}

#third_div li {
	margin-left: 5px;
	float: left;
	width: 18%;
	height: 100%;
	color: white;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

#third_div li:hover{
	color: #bfceff;
}

#four_div {
	width: 24%;
	height: 45%;
	float: right;
	padding: 2px 0px;
}
#four_div button{
	background-color: #43596b;
	border: 2px solid #cfc5c5;
	border-radius: 9px;
	width: 100px;
	height: 100%;
	margin-left: 12px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}
#four_div button:hover {
	background-color: #374957;
}

/* header ---------------------------- */
















section {
	width: 100%;
	height: 1750px;
	padding-top: 105px;
	min-width: 1423px;
}
section #advertisement {
	width: 100%;
	height: 300px;
	position: fixed;
	z-index: -1;
	background:linear-gradient(to top, #ff8a4a, #bee0fe);
}
section #index_story {
	width: 100%;
	height: 1400px;
	background-color: #666666;
	z-index: 9;
	margin-top: 300px;
	padding-bottom: 50px;
	position: absolute;
}
section #decoration {
	width: 100%;
	height: 20px;
	background-color: #777777;
}
section #menu_bar {
	width: 170px;
	margin-top: 30px;
	margin-left: 130px;
	border: 2px solid #32435c;
	border-radius: 15px; 
	padding: 15px 10px;
	float: left;
}
#menu_bar p {
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	color: white;
	padding: 5px 0px;
}
#menu_bar ul {
	width: 100%;
	padding: 3px 3px;
}
#menu_bar li{
	width: 100%;
	padding: 5px 0px;
	color: white;
	cursor: pointer;
}
#menu_bar li:hover {
	color: #32435c;
}

section #game_list {
	width: 870px;
	float: left;
	margin: 50px 70px;
}
#game_list h3 {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 5px;
	text-shadow: 3px 3px #32435c;
}
#game_list #main_first {
	width: 99%;
	height: 290px;
	padding: 5px 0px;
	margin-bottom: 40px;
}
.discount {
	background:linear-gradient(to top, #43596b, #bee0fe);
	width: 70px;
	padding: 5px 7px;
	border: 2px solid #aaaaaa;
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
	position: absolute;
	z-index: 500;
}
.img {
	width: 100%;
	height: 100%;
	border: 1px solid #aaaaaa;
	border-radius: 8px;
}
#main_first button {
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 2px 2px #32435c;
	background-color: #666666;
	border: 0px;
	padding: 20px 10px;
	float: left;
	margin-top: 90px;
	cursor: pointer;
}
#main_first table {
	float: left;
}
#main_first td {
	width: 230px;
	padding: 10px 10px;
	height: 115px;
	z-index: 1;
}
#game_list #main_second {
	width: 97.5%;
	height: 190px;
	padding: 5px 10px;
	margin-bottom: 40px;
}
#main_second button {
	color: white;
	font-size: 30px;
	font-weight: bold;
	text-shadow: 3px 3px #32435c;
	background-color: #666666;
	border: 0px;
	padding: 20px 10px;
	float: left;
	margin-top: 50px;
	cursor: pointer;
}
#main_second .product {
	width: 151px;
	float: left;
	height: 85%;
	padding: 10px 18px;
	z-index: 1;
}
#game_list #main_third {
	width: 97.5%;
	height: 520px;
	padding: 5px 10px;
	border: 2px solid #373e48;
	border-radius : 8px;
}
#main_third button {
	padding: 9px 15px;
	float: left;
	background-color: #666666;
	border: 2px solid #666666;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
#main_third #pack_1 {
	border: 2px solid #777777;
	background-color: #777777;
}
#main_third #sub_cate {
	width: 97.5%;
	height: 457px;
	margin-top: 40px;
	background-color: #777777;
	padding: 10px 10px;
}
#sub_cate #sub_first {
	width: 69%;
	height: 100%;
	float: left;
}
#sub_first td {
	border: 2px solid #aaaaaa;
	width: 568px;
	height: 70px;
}
#sub_cate #sub_second {
	width: 26%;
	margin-left: 30px;
	height: 91%;
	border: 2px solid #aaaaaa;
	border-radius: 8px;
	float: left;
	padding: 18px 0px;
}
#sub_second .sub_secon_img {
	width: 170px;
	height: 90px;
	margin: 0 auto;
	border: 1px solid #474747;
	margin-top: 10px;
}










/* footer */

#first_footer {
	width: 100%;
	height: 90px;
	background-color: #2c3945;
	padding: 30px 0px;
	min-width: 900px;
}
#first_footer_1 {
	width: 58%;
	height: 100%;
	margin-left: 25%;
}
#second_footer {
	width: 100%;
	height: 50px;
}
#footer_logo {
	width: 16%;
	height: 88%;
	border: 3px solid #aaaaaa;
	margin-right: 13px;
	float: left;
}
#second_footer #footer_info {
	width: 81%;
	height: 79%;
	float: left;
	padding: 5px 0px;
	font-size: 11px;
	color: white;
}

#second_footer p {
	margin-top: 2px;
	float: left;
}

#second_footer ul {
	width: 50%;
	height: 60%;
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}
.design {
	border-right: 1px solid #aaaaaa;
}
#second_footer li {
	padding: 3px 15px;
	color: white;
	float: left;
	font-weight: bold;
	cursor: pointer;
}
#second_footer li:hover {
	color: #a7a7a7;
}

#third_footer {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	padding: 5px 0px;
}
#third_footer ul {
	width: 100%;
	height: 100%;
}
#third_footer li {
	height: 100%;
	color: white;
	float: left;
	font-size: 13px;
	text-align: center;
	padding: 0px 15px;
	cursor: pointer;
}
#third_footer li:hover {
	color: #a7a7a7;
}
#third_footer #import {
	font-weight: bold;
}

/* footer ------------------------------------------- */










