@CHARSET "UTF-8";

* {
	margin: 0;
	list-style: none;
	text-decoration: none;
	padding: 0px;
}

@font-face {
	font-family: "Nanum Gothic", ng , NanumGothic ,나눔고딕, 나눔 고딕, sans-serif;
	src: url("/vitanature/font/NanumGothic.eot");
	src: local(※), url("/vitanature/font/NanumGothic.woff") format('woff');
	
}


/* header */

#first_div {
	background-color: #43596b;
	width: 100%;
	height: 105px;
	position: fixed;
	min-width: 990px;
	z-index: 999;
}
#first_div_1 {
	width: 70%;
	height: 64%;
	margin: 0 auto;
	padding: 20px 0px;
}
#second_div {
	width: 18%;
	height: 100%;
	float: left;
	background-color: #c4c4e1;
}
#third_div {
	width: 58%;
	height: 65%;
	padding: 11px 0px;
	float: left;
	margin-top: 5px;
}

#third_div ul {
	width: 88%;
	height: 100%;
}

#third_div li {
	margin-left: 5px;
	float: left;
	width: 18%;
	height: 100%;
	color: white;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}

#third_div li:hover{
	color: #bfceff;
}

#four_div {
	width: 24%;
	height: 45%;
	float: right;
	padding: 2px 0px;
}
#four_div button{
	background-color: #43596b;
	border: 2px solid #cfc5c5;
	border-radius: 9px;
	width: 100px;
	height: 100%;
	margin-left: 12px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	margin-top: 5px;
}
#four_div button:hover {
	background-color: #374957;
}

/* header ---------------------------- */
















section {
	width: 100%;
	height: 1000px;
	padding-top: 105px;
}
section #advertisement {
	width: 100%;
	height: 250px;
	position: fixed;
	z-index: -1;
	background:linear-gradient(to top, #aaaaaa, #ff5555);
}
section #index_story {
	width: 100%;
	height: 750px;
	background-color: #666666;
	z-index: 9;
	margin-top: 250px; 
	position: absolute;
}
section #decoration {
	width: 100%;
	height: 20px;
	background-color: #777777;
}
section #menu_bar {
	width: 200px;
	height: 420px;
	bottom: 200px;
	left: 130px;
	background-color: #aaaaaa;
	z-index: 99;
	position: fixed;
}















/* footer */

#first_footer {
	width: 100%;
	height: 90px;
	background-color: #2c3945;
	padding: 30px 0px;
	min-width: 900px;
}
#first_footer_1 {
	width: 58%;
	height: 100%;
	margin-left: 25%;
}
#second_footer {
	width: 100%;
	height: 50px;
}
#footer_logo {
	width: 16%;
	height: 88%;
	border: 3px solid #aaaaaa;
	margin-right: 13px;
	float: left;
}
#second_footer #footer_info {
	width: 81%;
	height: 79%;
	float: left;
	padding: 5px 0px;
	font-size: 11px;
	color: white;
}

#second_footer p {
	margin-top: 2px;
	float: left;
}

#second_footer ul {
	width: 50%;
	height: 60%;
	float: left;
	margin-left: 20px;
	margin-top: 2px;
}
.design {
	border-right: 1px solid #aaaaaa;
}
#second_footer li {
	padding: 3px 15px;
	color: white;
	float: left;
	font-weight: bold;
	cursor: pointer;
}
#second_footer li:hover {
	color: #a7a7a7;
}

#third_footer {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	padding: 5px 0px;
}
#third_footer ul {
	width: 100%;
	height: 100%;
}
#third_footer li {
	height: 100%;
	color: white;
	float: left;
	font-size: 13px;
	text-align: center;
	padding: 0px 15px;
	cursor: pointer;
}
#third_footer li:hover {
	color: #a7a7a7;
}
#third_footer #import {
	font-weight: bold;
}

/* footer ------------------------------------------- */










