@CHARSET "UTF-8";

a.jcm-top {
    position: fixed;
    right: 7%;
    bottom: 15px;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    width: 45px;
    height: 45px;
    font-size: 20px;
    /*background-color: rgba(50,50,50,0.5);*/
    background-color:#323232; 
    opacity:0.7; 
    filter:alpha(opacity=50); /*ie8 호환을 위한코드 위와 동일한 것임 호환필요없으면 한줄로 rgba적으면됨*/
    z-index: 999;
    display: none;
}
a.jcm-top:hover{background-color:#000}