@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 155px;
	padding-bottom: 100px;
	background-color: #666666;
}
/* buy progress */
section #buy_progress {
	width: 63%;
	margin: 0 auto;
	padding: 15px 1.4%;
	background-color: #32435c;
	margin-top: 80px;
	overflow: hidden;
	border: 1px solid #aaaaaa;
}
#buy_progress div {
	float: left;
	overflow: hidden;
	width: 4.4%;
	height: 40px;
	margin-right: 1.4%;
}
#buy_progress img {
	width: 100%;
	height: 100%;
}
#buy_progress p {
	color: white;
	font-weight: bold;
	font-size: 17px;
	float: right;
	overflow: hidden;
}
#buy_progress #titi {
	font-size: 25px;
	float: left;
	overflow: hidden;
}
#buy_progress #sub {
	margin-top: 9px;
}


section #first_buy {
	width: 63%;
	margin: 0 auto;
	padding: 20px 1.4%;
	border: 1px solid #aaaaaa;
	border-top: 1px dotted #aaaaaa;
	overflow: hidden;
}
#first_buy .title {
	color: white;
	font-weight: bold;
	font-size: 20px;
	padding: 20px 0px;
	text-shadow: -1px -1px 0px black;
}
#first_buy .title span {
	font-size: 25px;
}


#first_buy #second_buy {
	width: 95%;
	margin: 0 auto;
	padding: 10px 1.4%;
	border: 1px solid #ffa5a5;
	margin-bottom: 15px;
}
#first_buy #third_buy {
	width: 95%;
	margin: 0 auto;
	padding: 30px 1.4%;
	margin-bottom: 15px;
	border: 1px solid #ffa5a5;
}
#third_buy #th_contents {
	width: 97.5%;
	margin: 0 auto;
	padding: 10px 1.4%;
	overflow: hidden;
}
#th_contents table {
	width: 100%;
	overflow: hidden;
}
section .minus {
	width: 36.3%;
	height: 25px;
	margin: 0 auto;
}
.minus img {
	width: 100%;
	height: 100%;
}
section .plus {
	width: 36.3%;
	height: 25px;
	margin: 0 auto;
}
.plus img {
	width: 100%;
	height: 100%;
}
section .complete {
	width: 36.3%;
	height: 25px;
	margin: 0 auto;
}
.complete img {
	width: 100%;
	height: 100%;
}
#th_contents td {
	padding: 10px 0px;
}
#th_contents .th_title {
	border-bottom: 1px dotted #aaaaaa;
	font-weight: bold;
	color: white;
	font-size: 14px;
	text-shadow: -1px -1px 0px black;
}
#th_contents #mill_in {
	padding: 3px 7px;
	border: 1px solid black;
	color: white;
	text-align: -1px -1px 0px black;
	border-radius : 5px;
	cursor: pointer;
	float: right;
	overflow: hidden;
	font-size: 12px;
	background: linear-gradient(to bottom, #5977a4, #32435c);
}
#th_contents #mill_in:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}
#th_contents #mill_cancle {
	padding: 3px 7px;
	border: 1px solid black;
	color: white;
	text-align: -1px -1px 0px black;
	border-radius : 5px;
	cursor: pointer;
	float: right;
	overflow: hidden;
	font-size: 12px;
	background: linear-gradient(to bottom, #5977a4, #32435c);
}
#th_contents #mill_cancle:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}








#first_buy #four_buy {
	width: 95%;
	margin: 0 auto;
	padding: 10px 1.4%;
	margin-bottom: 15px;
	border: 1px solid #ffa5a5;
}
#four_buy input[type="text"] {
	width: 98%;
	padding: 5px 0.7%;
	border: 1px solid #aaaaaa;
}





#first_buy #five_buy {
	width: 95%;
	margin: 0 auto;
	padding: 10px 1.4%;
	margin-bottom: 20px;
	border: 1px solid #ffa5a5;
	overflow: hidden;
}

#five_buy #pay_way {
	width: 57.1%;
	padding: 10px 1.4%;
	float: left;
	overflow: hidden;
	border-right: 1px dashed #aaaaaa;
}

/* 결제  */

#pay_way #choice {
	width: 97%;
	margin: 0 auto;
	padding: 10px 1.4%;
	overflow: hidden;
	border-bottom: 1px dashed #aaaaaa;
}
#pay_way #choice label {
	color: white;
	font-size: 12px;
 	cursor:pointer;
}

#pay_way .opinion {
	width: 97%;
	margin: 0 auto;
	padding: 15px 1.4%;
	overflow: hidden;
	display: none;
}
#pay_way .opinion input[type="button"]{
	color: white;
	padding: 3px 15px;
	border: 1px solid black;
	border-radius : 7px;
	background:linear-gradient(to bottom, #165c8f, #34345c);
	float: right;
	text-shadow : -1px -1px 0px #00006a;
	overflow: hidden;
	cursor: pointer;
	margin-top: 5px;
}

#pay_way .opinion span {
	color: white;
	font-size: 12px;
}
#pay_way #phone_c select {
	width: 15%;
	margin-right: 1.4%;
	padding: 3px 0.7%;
}
#pay_way #phone_c input[type="text"] {
	width: 15%;
	padding: 3px 0.7%;
}
#pay_way .opinion input[type="password"]{
	width: 30%;
	padding: 3px 0.7%;
}
#pay_way .c {
	display: none;
}
#pay_way .cc {
	display: none;
}
#pin_c .c input[type="text"]{
	width: 7%;
	padding: 3px 0.7%;
}

#pay_way .cc .c_price {
	text-align: center;
	font-weight: bold;
	border: 0px;
	background-color: #666666;
	color: white;
	margin: 0 auto;
}
#pay_way .coupon input[type="text"] {
	width: 30%;
	padding: 3px 0.7%;
}
#bank_c p{
	width: 100%;
	text-shadow: -1px -1px 0px #134053;
	color: #57e9ec;
	font-size: 15px;
	padding: 15px 0px;
	text-align: center;
}
#bank_c #titi {
	color: #b2b2b2;
	font-weight: bold;
}
#bank_c div {
	padding: 5px 0.7%;
	border: 2px solid #aaaaaa;
}
#bank_c #text {
	width: 100%;
	text-shadow: none;
	color: white;
}
#bank_c ul {
	width: 70%;
}
#bank_c li{
	width: 100%;
	font-weight: bold;
	padding: 0px 2.4%;
	font-size: 15px;
	padding: 2px 20%;
	color: white;
	font-size: 13px;
	text-align: center;
}

#five_buy #pay_check {
	width: 35.3%;
	padding: 10px 1.4%;
	margin-left: 1.7%;
	float: left;
	overflow: hidden;
}

#pay_check #pay_check_1 {
	width: 100%;
	padding: 5px 0px;
	border-bottom: 1px solid #aaaaaa;
}
#pay_check div {
	padding: 15px 1.4%;
}
#pay_check_1 dl {
	width: 100%;
	margin: 0 auto;
}
#pay_check_1 dt {
	color: white;
	width: 100%;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
#pay_check_1 dd{
	width: 100%;
	text-align: center;
	color: white;
}
#pay_check_1 dd span {
	font-size: 12px;
}
#pay_check #pay_check_2 {
	width: 100%;
	padding: 5px 0px;
}
#pay_check #pay_check_2 h3 {
	color: #63a2e0;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	text-shadow: -1px -1px 0px #113355;
	padding: 2px 0px;
}
#pay_check #pay_check_2 #pri {
	color: white;
	font-size: 18px;
	font-weight: bold;
	float: right;
	overflow: hidden;
}


#first_buy #last_buy {
	padding: 5px 15px;
	border: 1px solid black;
	border-radius: 5px;
	font-weight: bold;
	color: white;
	font-size: 20px;
	text-shadow: -1px -1px 0px #2a2a2a;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	float: right;
	overflow: hidden;
	cursor: pointer;
}

#first_buy #last_buy:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}



/* 상품 리스트 CSS */

#second_buy #product_list_view {
	width: 100%;
}



#product_list_view .item {
	width: 98%;
	height: 94px;
	background-color: #474747;
	margin-top: 7px;
	margin-bottom: 55px;
	border: 3px solid #aaaaaa;
	border-radius: 5px;
}
#product_list_view .item .four_contents {
	width: 95%;
	margin: 0 auto;
	height: 60px;
	padding: 5px 0px;
}
#product_list_view .four_contents .f_g_check {
	width: 4%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.f_g_check input[type="checkbox"]{
  width:1px; 
  height:1px; 
  padding:0; 
  border:0 none; 
  margin:0; 
  position:absolute; 
  left:0; 
  top:0; 
  overflow:hidden;
  clip:rect(0 0 0 0);
}
.f_g_check label{
  height:15px; 
  line-height:15px; 
  padding-left:20px; 
  display:inline-block; 
  background:url(http://csscheckbox.com/checkboxes/lite-plus.png) no-repeat 0 0; 
  font-size:15px; 
  vertical-align:middle; 
  cursor:pointer;
}

.f_g_check input[type="checkbox"]:checked + label{
  background-position: 0 -15px;
}
#product_list_view .four_contents .f_g_img {
	background-color: white;
	height: 100%;
	width: 15%;
	float: left;
	overflow: hidden;
	margin-right: 2%;
	margin-top: 5px;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
}
.f_g_img img{
	width: 99.5%;
	height: 100%;
}
#product_list_view .four_contents table {
	width: 78.5%;
}
#product_list_view .four_contents .f_g_name {
	color: white;
	font-size: 20px;
	font-weight: bold;
}
#product_list_view .four_contents .f_g_ex {
	color: silver;
	font-size: 14px;
}
#product_list_view .pro_delete {
	color: white;
	font-weight: bold;
	background-color: #474747;
	border: 0px;
	font-size: 20px;
	cursor: pointer;
	float: right;
	overflow: hidden;
}
#product_list_view .pro_delete:hover {
	color: #aaaaaa;
}
#product_list_view .tag {
	position: absolute;
	background-color: black;
	margin-top: 5px;
	border: 2px solid #aaaaaa;
	border-radius: 7px;
	right: 21%;
}
.tag .discount {
	background-color: #32435c;
	border-radius : 4px;
	padding: 9px 10px;
	border-right: 1px dashed white;
	font-size: 20px;
}
.tag .price {
	border-right: 1px dashed white;
	padding: 2px 10px;
}
.tag .price span{
	font-size: 18px;
	line-height: 3px;
}
.tag .price .nomal_p {
	font-size: 14px;
	color: silver;
	text-decoration: line-through;
	font-style: italic;
}
.tag li {
	color: white;
	font-weight: bold;
	font-size: 14px;
	float: left;
	overflow: hidden;
	text-align: center;
}
.tag input {
	padding: 5px 12px;
	color: white;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	border-radius: 5px;
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: -1px -1px 0px #1f2938;
	border: 0px;
	font-weight: bold;
	font-size: 17px;
}
.tag input:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}















