<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="AdminMapper">
	
	<!-- 상품 정보 관리 리스트 -->
	<select id="product_list" resultType="com.game.product.ProductDTO" parameterType="com.game.util.PageMaker">
		select * from 
		(select rownum R, F.* from 
		(select * from product order by pro_num desc) F) 
		where R between #{startRowNum} and #{lastRowNum}
	</select>

	<!-- 상품 전체 갯수 가져오기 -->
	<select id="product_list_count" resultType="int">
		select count(pro_num) from product
	</select>
	
	<!-- 상품 정보관리 삭제하기 -->
	<delete id="product_delete" parameterType="int">
		delete product where pro_num=#{pro_num}
	</delete>
	
	<!-- CD_KEY 리스트 -->
	<select id="cd_key_list" resultType="com.game.cd.CD_keyDTO" parameterType="com.game.util.PageMaker">
		select * from 
		(select rownum R, F.* from 
		(select * from cd_key order by cd_num desc) F) 
		where R between #{startRowNum} and #{lastRowNum}
	</select>
	
	<!-- CD_key 전체 갯수 가져오기 -->
	<select id="cd_key_list_count" resultType="int">
		select count(cd_num) from cd_key
	</select>
	
	<!-- CD_key 추가 -->
	<insert id="cd_key_add" parameterType="java.util.Map">
		insert into cd_key values(cd_key_seq.nextval, #{pro_num}, #{cd_serial}, 'nouse')
	</insert>
	
	<!-- CD_key 삭제 -->
	<delete id="cd_key_delete" parameterType="int">
		delete cd_key where cd_num=#{cd_num}
	</delete>
	
	<!-- 배송정보관리 리스트 -->
	<select id="send_list" resultType="com.game.cd.Product_memberDTO" parameterType="com.game.util.PageMaker">
    	select * from 
		(select rownum R, F.* from 
		(select * from product_member order by pm_num desc) F) 
		where R between #{startRowNum} and #{lastRowNum}
	</select>
	
	<!-- 배송정보관리 전체 갯수 -->
	<select id="send_list_count" resultType="int">
		select count(pm_num) from product_member
	</select>
	
	<!-- 배송정보관리에서 게임 이름 가져오기 -->
	<select id="send_list_title" resultType="java.lang.String" parameterType="int">
		select pro_title from product where pro_num=#{pro_num}
	</select>
	
	<!-- cd_key 사용안된거 찾기 -->
	<select id="cd_key_nouse" resultType="int" parameterType="int">
		select count(cd_num) from cd_key where pro_num=#{pro_num} and cd_check='nouse'
	</select>
	
	<!-- cd_key 사용안된거 가져오기 -->
	<select id="cd_key_get" resultType="com.game.cd.CD_keyDTO" parameterType="int">
		select * from cd_key where pro_num=#{pro_num} and cd_check='nouse'
	</select>
	
	<!-- Product_member  CD_Serial 입력 -->
	<update id="pm_update" parameterType="java.util.Map">
		update product_member set cd_serial=#{cd_serial} where pm_num=#{pm_num}
	</update>
	
	<!-- CD_key update -->
	<update id="cd_key_update" parameterType="int">
		update cd_key set cd_check='use' where cd_num=#{cd_num}
	</update>
	
	<!-- purchase 대기를 바꾸기 -->
	<select id="cd_key_check" resultType="com.game.cd.Product_memberDTO" parameterType="int">
		select * from product_member where pur_num=#{pur_num} and cd_serial='null'
	</select>
	
	<!-- purchase update -->
	<update id="status_change" parameterType="int">
		update purchase set status='완료' where pur_num=#{pur_num}
	</update>

</mapper>