<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Cd_keyMapper">
	<insert id="Purchasing" parameterType="com.game.cd.Product_memberDTO">
		insert into product_member values(product_member_seq.nextval, #{m_id}, #{pro_num}, 'null', #{pur_num})
	</insert>
	
	<update id="pro_memMod" parameterType="com.game.cd.Product_memberDTO">
		update product_member set cd_serial = #{cd_serial} where m_id = #{m_id} and pro_num = #{pro_num}	
	</update>
	
	<select id="PMSearchList" parameterType="com.game.member.MemberDTO" resultType="com.game.cd.Product_memberDTO">
		select * from product_member where m_id=#{m_id}
	</select>
	
</mapper>