<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberMapper">

	<!-- 회원가입 -->
	<insert id="Join" parameterType="com.game.member.MemberDTO">
		insert into member values(member_seq.nextval, #{m_id}, #{m_pw}, #{m_name}, #{m_tel}, #{m_birth}, #{m_gender}, #{m_email}, 1, 0)
		<!-- m_num 가져오기(m_num in computer table) -->
		<selectKey keyProperty="m_num" resultType="int" order="AFTER">
			select member_seq.currval from dual
		</selectKey> 
	</insert>
	
	<!-- 컴퓨터 정보 입력 -->
	<insert id="comInfo" parameterType="com.game.computer.ComputerDTO">
		insert into computer values( computer_seq.nextval, #{m_num}, #{com_os}, 	#{com_process}, #{com_memory}, #{com_graphic}, #{com_directx}, #{com_space})
	</insert>
	
	<!-- 컴퓨터 정보 수정 -->
	<update id="comMod" parameterType="com.game.computer.ComputerDTO">
		update computer
			<trim prefix="set" suffixOverrides=",">
			<if test="com_os != null">
				com_os = #{com_os},
			</if>
			<if test="com_process != null">
				com_process = #{com_process}, 
			</if>
			<if test="com_memory != null">
				com_memory = #{com_memory},
			</if>
			<if test="com_graphic != null">
				com_graphic = #{com_graphic},
			</if>			
			<if test="com_directx != null">
				com_directx = #{com_directx},
			</if>			
			<if test="com_space != null">
				com_space = #{com_space}
			</if>
		</trim>
		where m_num = #{m_num}
	</update>
	
	<!-- 로그인 -->    
	<select id="Login" parameterType="com.game.member.MemberDTO" resultType="com.game.member.MemberDTO">
		select * from member where m_id=#{m_id} and m_pw=#{m_pw}	
	</select>
	<!-- 로그인 computerinfo set용 -->
	<select id="LoCominfo" parameterType="java.lang.Integer" resultType="com.game.computer.ComputerDTO">
		select * from computer where m_num = #{m_num}
	</select>
	
	<!-- 회원수정 -->
	<update id="idMod" parameterType="com.game.member.MemberDTO">
		update member 
		<trim prefix="set" suffixOverrides=",">
			<if test="m_pw != null">
				m_pw = #{m_pw},
			</if>
			<if test="m_name != null">
				m_name = #{m_name}, 
			</if>
			<if test="m_tel != null">
				m_tel = #{m_tel},
			</if>
			<if test="m_gender != null">
				m_gender = #{m_gender},
			</if>			
			<if test="m_email != null">
				m_email = #{m_email},
			</if>			
			<if test="m_kind != 0">
				m_kind = #{m_kind}
			</if>
		</trim>
		where m_id = #{m_id}
	</update>
	<!-- 회원탈퇴 -->
	<delete id="memOut" parameterType="com.game.member.MemberDTO">
		delete member where m_id = #{m_id}
	</delete>
	
	<!-- computerout -->
	<delete id="comOut" parameterType="java.lang.Integer">
		delete computer where m_num = #{m_num}
	</delete>
	    
	<!-- 회원검색/관리자용 -->
	<!-- id찾기 -->
	<select id="searchId" parameterType="com.game.member.MemberDTO" resultType="com.game.member.MemberDTO">
		select * from member where m_name=#{m_name} and m_email=#{m_email}
	</select>
	<!-- pw찾기 -->
	<select id="searchPw" parameterType="com.game.member.MemberDTO" resultType="com.game.member.MemberDTO">
		select * from member where m_id=#{m_id} and m_name=#{m_name} and m_email=#{m_email}
	</select> 
	<!-- id 체크 -->
	<select id="idCheck" parameterType="java.lang.String" resultType="com.game.member.MemberDTO">
		select * from member where m_id = #{id}
	</select>
	

</mapper>