<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PackageMapper">
	
	<insert id="packAdd" parameterType="com.game.package_pro.PackageDTO">
		<![CDATA[
			insert into package_pro values(pack_seq.nextval, #{pro_num}, #{pack_title}, #{pack_contents}, #{price}, 0, 0, #{sub_category}, #{millage})
		]]>
	</insert>
	
	<update id="packMod" parameterType="com.game.package_pro.PackageDTO">
		<![CDATA[
			update package_pro set total_price = #{total_price}, discount = #{discount} where pack_num = #{pack_num}
		]]>
	</update>
	
	<delete id="packDelete" parameterType="int">
		<![CDATA[
			delete from package_pro where pack_num = #{pack_num}
		]]>
	</delete>
	
	<!-- 관리자 페이지 패키지 목록 전부 불러오기 -->
	<select id="packAllList" resultType="com.game.package_pro.PackageDTO">
		<![CDATA[
			select * from package_pro order by pack_num desc
		]]>
	</select>
	
	<select id="packList" resultType="com.game.package_pro.PackageDTO" parameterType="java.lang.String">
		<![CDATA[
			select * from package_pro where sub_category = #{sub_category}
		]]>
	</select>
	
	<select id="packBuy" resultType="com.game.package_pro.PackageDTO" parameterType="int">
		<![CDATA[
			select * from package_pro where pack_num = #{pack_num}
		]]>
	</select>
	
	<select id="packSearch" resultType="java.lang.String" parameterType="int">
		<![CDATA[
			select sub_category from product where pro_num=#{pro_num}
		]]>
	</select>
	
	
	
	<select id="packProduct" resultType="java.lang.String" parameterType="int">
		<![CDATA[
			select pro_num from package_pro where pack_num = #{pack_num}
		]]>
	</select>
	
	<!-- 상품 전체 가져오기 -->
	<select id="package_list" resultType="com.game.product.ProductDTO">
		select * from product
	</select>
	
</mapper>