<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PackageMapper">
	
	<insert id="packAdd" parameterType="com.game.package_pro.PackageDTO">
		<![CDATA[
			insert into package_pro values(pack_seq.nextval,#{pro_num}, #{pack_title}, #{pack_contents}, #{price}, #{total_price}, #{discount}, #{sub_category}, #{millage})
		]]>
	</insert>
	
	<update id="packMod" parameterType="com.game.package_pro.PackageDTO">
		<![CDATA[
			update package_pro set pro_num = #{pro_num}, pack_title = #{pack_title}, pack_contents = #{pack_contents}, price = #{price}, total_price = #{total_price},
											 discount = #{discount}, sub_category = #{sub_category} where pack_num = #{pack_num}
		]]>
	</update>
	
	<delete id="packDelete" parameterType="int">
		<![CDATA[
			delete from package_pro where pack_num = #{pack_num}
		]]>
	</delete>
	
	<select id="packList" resultType="com.game.package_pro.PackageDTO" parameterType="java.lang.String">
		<![CDATA[
			select * from package_pro where sub_category = #{sub_category}
		]]>
	</select>
	
	<select id="packBuy" resultType="com.game.package_pro.PackageDTO" parameterType="int">
		<![CDATA[
			select * from package_pro where pack_num = #{pack_num}
		]]>
	</select>
	
	<select id="packProduct" resultType="java.lang.String" parameterType="int">
		<![CDATA[
			select pro_num from package_pro where pack_num = #{pack_num}
		]]>
	</select>
</mapper>