<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
	<!-- product 기본 글쓰기 -->
	<insert id="productWrite" parameterType="com.game.product.ProductDTO">
		insert into product values(product_seq.nextval, #{pro_title}, #{pro_contents}, 0, #{price}, 0, 0, #{top_category}, #{sub_category}, 'empty', #{millage}, #{company})	
		
		 <!-- pro_num 가져오기 (Pro_file TABLE) -->
		<selectKey keyProperty="pro_num" resultType="int" order="AFTER">
			select product_seq.currval from dual
		</selectKey>
	</insert>
	
	
	<!-- pro_file 글쓰기(사진넣기) -->
	<insert id="pro_fileWrite" parameterType="java.util.Map">
		insert into pro_file values(pro_file_seq.nextval, #{pro_num}, #{file_name}, #{origine}, '1')
	</insert>
	
	<!-- pro_list 글리스트 -->
	<select id="pro_list" resultType="com.game.product.ProductDTO" parameterType="com.game.util.PageMaker">
		select * from 
		(select rownum R, F.* from 
		(select * from product order by pro_num desc) F) 
		where R between 1 and 10
	</select>
	
	<!-- pro_list 글전체 갯수 가져오기 -->
	<select id="pro_boardCount" resultType="int">
		select count(pro_num) from product
	</select>
	
	<!-- pro_list에 들어갈 대표사진 가져오기  -->
	<select id="pro_main_Img" resultType="com.game.product.ProductFileDTO" parameterType="int">
		select file_name from pro_file
    	where file_num=(select min(file_num) from pro_file where pro_num=#{pro_num}) 
	</select>
	
	<!-- pro_view -->
	<select id="productView" resultType="com.game.product.ProductDTO" parameterType="int">
		select * from product where pro_num=#{pro_num}
	</select>
	
	<!-- pro_view에 들어갈 사진 -->
	<select id="pro_view_img" resultType="com.game.product.ProductFileDTO" parameterType="com.game.util.PageMaker">
		select FILE_NAME from PRO_FILE where pro_num=#{pro_num}
	</select>
	
	<!-- pro_view에 들어갈 사진 갯수 -->
	<select id="pro_view_img_count" resultType="int" parameterType="int">
		select count(File_name) from pro_file where pro_num=#{pro_num}
	</select>
</mapper>