<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">

	<!-- 구매목록 가져오기  -->
	<select id="purchaseList" parameterType="com.game.member.MemberDTO" resultType="com.game.mart.PurchaseDTO">
		select * from purchase where m_id=#{m_id} order by reg_date desc
	</select>
	
	
	<!-- 상품정보 가져오기 -->
	<select id="productSet" parameterType="com.game.mart.CartDTO" resultType="com.game.product.ProductDTO">
		select * from product where pro_num = #{pro_num}
	</select>
	
	<!-- 상품 대표사진 가져오기 -->
	<select id="Pro_list_img" resultType="com.game.product.ProductFileDTO"  parameterType="com.game.mart.CartDTO">
		select file_name from pro_file
    	where file_num=(select min(file_num) from pro_file product where pro_num=#{pro_num})
	</select>
	
	<!-- 쿠폰 만들기 -->
	<insert id="MakeCupon" parameterType="java.lang.String">
		insert into cupon values(cupon_seq.nextval, #{cupon}, 10000, 0)
	</insert>
	
	<!-- 쿠폰 확인용 -->
	<select id="CheckCupon" parameterType="com.game.mart.CuponDTO" resultType="com.game.mart.CuponDTO">
		select * from cupon where cup_serial=#{cup_serial} and cup_check=0	
	</select>
	
	<!-- 쿠폰 사용 여부 수정 -->
	<update id="CuponMod" parameterType="com.game.mart.CuponDTO">
		update cupon set cup_check = #{cup_check} where cup_serial = #{cup_serial}	
	</update>
	
	<!-- 구매정보 입력 -->
	<insert id="Purchasing" parameterType="com.game.mart.PurchaseDTO">
		insert into purchase values(purchase_seq.nextval, #{m_id}, #{pro_num}, #{total_price}, sysdate, #{status}, #{pur_kind}, #{m_millage})	
	</insert>	
	
	

</mapper>