<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReplyMapper">
	<insert id="replyWrite" parameterType="com.game.product.ReplyDTO">
		<![CDATA[
			insert into reply values(reply_seq.nextval ,#{pro_num},#{r_writer},#{r_contents},sysdate,0,0,0)
		]]>
	</insert>
	<delete id="replyDelete" parameterType="int">
		<![CDATA[
			delete from reply where r_num = #{r_num}
		]]>
	</delete>
	<select id="replyList" resultType="com.game.product.ReplyDTO" parameterType="int">
		<![CDATA[
			select * from reply where pro_num = #{pro_num} order by r_num desc
		]]>
	</select>
</mapper>