@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 245px;
	padding-bottom: 190px;
	background-color: #666666;
}

section #mem_out_first {
	width: 55%;
	margin: 0 auto;
	padding: 74px 0px;
}
#mem_out_first h2 {
	width: 100%;
	text-align: center;
	color: white;
	text-shadow: -1px -1px 0px #414141;
	padding: 20px 1.4%;
}

#mem_out_first #mem_out_second {
	width: 100%;
}
#mem_out_second p {
	width: 100%;
	padding: 5px 1.4%;
	color: #ff9d9d;
	text-shadow: -1px -1px 0px #414141;
	text-align: center;
}
#mem_out_first #mem_out_third {
	width: 35%;
	margin: 0 auto;
	padding: 15px 1.4%;
	color: white;
	text-shadow: -1px -1px 0px #414141;
	overflow: hidden;
}
#mem_out_third span {
	padding: 0px 5%;
}
#mem_out_third input[type="password"] {
	padding: 3px 1.4%;
	border: 1px solid #aaaaaa;
	border-radius : 5px;
	font-weight: bold;
}

#mem_out_first #mem_out_four {
	width: 50%;
	margin: 0 auto;
}
#mem_out_four button {
	padding: 5px 15px;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	color: white;
	text-shadow: -1px -1px 0px #414141;
	border: 1px solid black;
	border-radius: 5px;
	float: right;
	overflow: hidden;
}

#mem_out_four button:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}























