@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 245px;
	padding-bottom: 190px;
	background-color: #666666;
}
section #first_login{
	width: 30%;
	margin: 0 auto;
	padding: 72.5px 1.4%;
}
#first_login #login_tt {
	width: 97%;
	color: white;
	text-align: center;
	font-size: 30px;
	text-shadow: -1px -1px 0px #444444;
	padding: 20px 1.4%;
}
#first_login #second_login {
	overflow: hidden;
}
#first_login #second_login form {
	color: white;
	overflow: hidden;
	padding: 20px 1.7%;
	min-width: 438px;
}
#second_login form input[type="text"]{
	border: 1px solid #aaaaaa;
	border-radius : 5px;
	padding: 3px 1.4%;
	margin-bottom: 10px;
}
#second_login form input[type="password"] {
	border: 1px solid #aaaaaa;
	border-radius : 5px;
	padding: 3px 1.4%;
}
#second_login form span {
	padding: 3px 1.4%;
	color: white;
	font-weight: bold;
}
#second_login #third_login {
	width: 65%;
	float: left;
	overflow: hidden;
	/* margin-left: 15%; */
}
#second_login #four_login {
	width: 35%;
	float: left;
	overflow: hidden;
}
#four_login #log_btn {
	border: 1px solid #aaaaaa;
	border-radius: 8px;
	width: 80%;
	height: 58px;
	color: white;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	font-weight: bold;
	font-size: 19px;
	cursor: pointer;
	text-shadow: -1px -1px 0px #32435c;
}
#four_login #log_btn:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}
#first_login #five_login{
	width: 96%;
	overflow: hidden;
	padding: 18px 1.4%;
}
#first_login #five_login input[type="button"] {
	float: right;
	overflow: hidden;
	margin-left: 1.4%;
	border: 1px solid #bbbbbb;
	background-color: #666666;
	cursor: pointer;
	border-radius : 8px;
	color: white;
	text-shadow: -1px -1px 0px #32435c;
	padding: 5px 15px;
	font-weight: bold;
	
}
#first_login #five_login input[type="button"]:hover {
	background-color: #1e2837;
}
#first_login #five_login #save_ids {
	/* margin-left: 15%; */
}
#five_login label {
	color: white;
	font-size: 14px;
	margin-left: 0.7%;
}
/* 아이디 찾기 */
section #first_id_div {
	display: none;
	position: absolute;
	background-color: #666666;
	width: 27.2%;
	border: 2px solid #aaaaaa;
	border-radius: 4px;
	overflow: hidden;
	padding: 10px 1.4%;
}
#first_login .x_div {
	color: white;
	font-weight: bold;
	font-size: 20px;
	background-color: #666666;
	border: 0px;
	float: right;
	overflow: hidden;
	cursor: pointer;
	padding: 3px 0px;
}
#first_login .div_down {
	width: 100%;
}
#first_login .div_contents {
	width: 100%;
}

/* 비밀번호 찾기 */
section #first_pw_div {
	display: none;
	position: absolute;
	background-color: #666666;
	width: 27.2%;
	border: 2px solid #aaaaaa;
	border-radius: 4px;
	overflow: hidden;
	padding: 10px 1.4%;
}






