@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 155px;
	padding-bottom: 100px;
	background-color: #666666;
}


section #mem_info_all {
	width: 65%;
	margin: 0 auto;
	padding: 10px 5px;
	margin-top: 10px;
	overflow: hidden;
}
#my_page h3 {
	color: white;
	width: 57%;
	margin: 0 auto;
	padding: 20px 1.4%;
	margin-top: 30px;
	font-size: 25px;
	text-shadow: -1px -1px 0px #353535;
}
#mem_info_all .information {
	width: 98%;
	border: 1px solid #aaaaaa;
	border-radius : 7px;
	background-color: #555555;
	margin: 0 auto;
	cursor: pointer;
	overflow: hidden;
}
#mem_info_all .information:hover {
	border: 1px solid #32435c;
	background-color: #444444;
}
#mem_info_all .information dt{
	width: 100%;
	padding-top: 44%;
}
#mem_info_all .information .title {
	font-weight: bold;
	font-size: 13px
}
#mem_info_all .information dd {
	width: 100%;
	text-align: center;
	color: white;
	border-top: 1px dashed #aaaaaa;
	padding: 3px 0px;
	font-size: 11px;
}


#mem_info_all #mem_info_menu {
	width: 80%;
	padding: 1.4% 1.4%;
	margin: 0 auto;
	background-color: #2d3c4d;
	border-radius: 7px;
	border: 1px solid white;
	overflow: hidden;
}
#mem_info_menu #lineline {
	width: 99%;
	border: 2px dotted #666666;
	border-radius: 7px;
	padding-top: 5px;
	padding-left: 0.5%;
	overflow: hidden;
}
#mem_info_menu #member_information{
	width: 30.2%;
	float: left;
	overflow: hidden;
	padding: 1.4% 1.4%;
}
#mem_info_menu #member_millage {
	width: 30.2%;
	float: left;
	overflow: hidden;
	padding: 1.4% 1.4%;
}
#mem_info_menu #member_product {
	width: 30.2%;
	float: left;
	overflow: hidden;
	padding: 1.4% 1.4%;
}
#mem_info_all #mem_info_category {
	width: 94%;
	margin: 0 auto;
	margin-top: 40px;
	overflow: hidden;
}

#mem_info_category .mem_in {
	width: 27.6%;
	padding: 1.4% 2.8%;
	float: left;
	overflow: hidden;
	display: none;
}

#mem_info_category .mem_mill {
	display: none;
	float: left;
	width: 27.6%;
	overflow: hidden;
	padding: 1.4% 2.8%;
	margin-left: 11%;
}

#mem_info_category .mem_game {
	display: none;
	float: left;
	width: 27.6%;
	overflow: hidden;
	padding: 1.4% 2.8%;
	margin-left: 11%;
}

/* 이미지 넣기 */

#member_information dt {
	background-image: url("/gps/resources/css/member/img/member_main.png");
	background-size: 100% 100%;
}
#member_millage dt {
	background-image: url("/gps/resources/css/member/img/computer_millage.png");
	background-size: 100% 100%;
}
#member_product dt {
	background-image: url("/gps/resources/css/member/img/screen.png");
	background-size: 100% 100%;
}

#meminfo_mod dt {
	background-image: url("/gps/resources/css/member/img/member_mod.png");
	background-size: 100% 100%;
}
#mempw_mod dt {
	background-image: url("/gps/resources/css/member/img/member_pw.png");
	background-size: 100% 100%;
}
#mem_dropout dt {
	background-image: url("/gps/resources/css/member/img/member_delete.png");
	background-size: 100% 100%;
}
#mem_millage dt{
	background-image: url("/gps/resources/css/member/img/millage.png");
	background-size: 100% 100%;
}
#mem_computer dt {
	background-image: url("/gps/resources/css/member/img/computer.png");
	background-size: 100% 100%;
}
#member_game dt {
	background-image: url("/gps/resources/css/member/img/cd_key.png");
	background-size: 100% 100%;
}
#purchase_buy dt {
	background-image: url("/gps/resources/css/member/img/purchase_file.png");
	background-size: 100% 100%;
}















