@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 155px;
	padding-bottom: 100px;
	background-color: #666666;
}
/* hide/show */

#id_check {
	display: none;
}

#pw_confirm {
	display: none;
}

#pw_check {
	display: none;
}


section h2 {
	width: 43%;
	margin: 0 auto;
	color: white;
	font-size: 33px;
	text-shadow: -1px -1px 0px black;
	padding: 30px 0px;
	text-align: center;
	
}
section #first_join {
	width: 43%;
	margin: 0 auto;
	background-color: #ffe5e5;
	padding: 40px 1.4%;
}
#first_join #agreement {
	width: 97%;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 0px 1.4%;
}
#agreement textarea {
	width: 99%;
	height: 150px;
	margin: 10px 0px;
}
#agreement input[type="checkbox"] {
	width:1px; 
 	 height:1px; 
  	padding:0; 
  	border:0 none; 
  	margin:0; 
  	position:absolute; 
  	left:0; 
  	top:0; 
  	overflow:hidden;
  	clip:rect(0 0 0 0);
}
#agreement label {
	height:15px; 
 	 line-height:15px; 
  	padding-left:20px; 
  	display:inline-block; 
  	background:url(http://csscheckbox.com/checkboxes/lite-plus.png) no-repeat 0 0; 
  	font-size:15px; 
  	vertical-align:middle; 
  	cursor:pointer;
}
#agreement input[type="checkbox"]:checked + label {
	background-position: 0 -15px;
}
#first_join #joinform {
	width: 100%;
	margin-top: 10px;
	display: none;
}






















































