@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 155px;
	padding-bottom: 100px;
	background-color: #666666;
	overflow: hidden;
}
section #pro_mod_first {
	width: 60%;
	padding: 10px 1.4%;
	margin: 0 auto;
	margin-top: 30px;
}
section #pro_mod_first h2 {
	color: white;
	text-shadow: -1px -1px 0px #414141;
	font-size: 25px;
	padding: 10px 3%;
	margin-bottom: 20px;
}
#pro_mod_first #pro_mod_second {
	width: 90%;
	margin: 0 auto;
	padding: 20px 1.7%;
	border: 2px solid #aaaaaa;
	border-radius : 5px;
	background-color: #454545;
	overflow: hidden;
}
#pro_mod_first #pro_mod_second table {
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;
}
#pro_mod_first #pro_mod_second td {
	padding: 7px 1.4%;
}
#pro_mod_first #pro_mod_second .mod_titi {
	color: white;
	text-align: right;
	font-weight: bold;
	text-shadow: -1px -1px 0px #414141;
}
#pro_mod_second input[type="text"]{
	padding: 2px 1.4%;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	font-weight: bold;
}
#pro_mod_second input[type="number"]{
	padding: 2px 1.4%;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	font-weight: bold;
}
#pro_mod_second select{
	padding: 2px 1.4%;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	font-weight: bold;
}
#pro_mod_second input[type="button"]{
	padding: 3px 6px;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	color: white;
	text-shadow: -1px -1px 0px #414141;
	border: 1px solid black;
	border-radius : 4px;
	cursor: pointer;
	margin-top: 4px;
}
#pro_mod_second input[type="button"]:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}
#img_delete_div #pro_mod_images {
	width: 25%;
	height: 100%;
	float: left;
	overflow: hidden;
	margin-left: 1.4%;
}

#img_delete_div #pro_mod_images img {
	width: 80%;
	height: 70px;
}
#pro_mod_second #savebutton {
	float: right;
	overflow: hidden;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 15px;
}

#pc_com_ajax #comcom_ti {
	text-align: right;
	color: #ffc1c2;
	font-weight: bold;
	text-shadow: -1px -1px 0px black;
}











