@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 155px;
	padding-bottom: 100px;
	background-color: #666666;
}

section #user_menu {
	width: 100%;
}

#pro_view h3 {
	width: 100%;
	font-weight: bold;
	color: white;
	font-size: 25px;
	margin-left: 20px;
	padding-bottom: 15px;
}

section #pro_view {
	width: 66%;
	margin: 0 auto;
	padding: 70px 15px;
	overflow: hidden;
}

#pro_view #first_pro {
	width: 58%;
	height: 250px;
	float: left;
	border: 2px solid #aaaaaa;
	padding: 10px 10px;
	border-radius : 4px;
	overflow: hidden;
}
#first_pro #main_img {
	width: 98%;
	height: 95%;
	border: 1px solid #aaaaaa;
	border-radius : 4px;
	padding: 5px 5px;
}

#main_img img{
	width: 100%;
	height: 100%;
}

<!-- Slides -->
.mySlides {display:none}
.demo {cursor:pointer}

#pro_view #second_pro { 
	width: 37%;
	height: 410px;
	float: right;
	overflow: hidden;
}

#second_pro #title_img {
	width: 96.2%;
	height: 135px;
	border: 1px solid #aaaaaa;
	padding: 5px 5px;
}
#title_img img {
	width: 100%;
	height: 100%;
}
#second_pro #game_info {
	width: 96.2%;
	padding: 15px 1.4%;
	height: 170px;
	border: 1px solid #aaaaaa;
}

#second_pro #game_info * {
	color: white;
	font-weight: bold;
}
#second_pro #game_evalution {
	width: 79%;
	height: 39px;
	border: 1px solid #aaaaaa;
	padding: 10px 10%;
	background-color: #3f3f3f;
}
#second_pro #game_evalution span {
	color: white;
	font-size: 22px;
	font-weight: bold;
	text-shadow: -1px -1px 0px black;
}
#second_pro #game_evalution img {
	width: 70%;
	height: 80%;
}



#pro_view #third_pro {
	width: 60%;
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 4px;
	overflow: hidden;
	position: relative;
}

#third_pro ul {
	width: 97.8%;
	height: 90%;
	padding: 5px 4px;
	border: 1px solid #aaaaaa;
	position: absolute;
}
#third_pro li {
	width: 17.5%;
	height: 90%;
	padding: 5px 0px;
	margin-left: 2.2%;
	float: left;
}
#third_pro img {
	width: 98%;
	height: 98%;
	border: 1px solid #aaaaaa;
	border-radius : 4px;
}
#third_pro .sub_btn {
	position: absolute;
	opacity: 0.5;
	background-color: white;
	color: white;
	border: 1px solid black;
	z-index: 99;
	width: 50px;
	height: 50px;
	margin-top: 35px;
	cursor: pointer;
	border-radius : 30px;
}
#third_pro #before {
	background-image: url("/gps/resources/css/product/img/icon_left.png");
	background-size: 48px 48px;
	left: 17.4%;
}
#third_pro #next {
	right: 43.3%;
	background-image: url("/gps/resources/css/product/img/icon_right.png");
	background-size: 48px 48px;
}







#pro_view #four_pro {
	margin-top: 40px;
	width: 63%;
	float: left;
	padding: 40px 10px;
	overflow: hidden;
}
#pro_view #pakage {
	width: 100%;
}
#pro_view #relationship {
	width: 100%;
	margin-top: 50px;
}
#relationship span {
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	width: 100%;
	
}
#relationship ul {
	width: 98%;
	padding: 10px 0px;
}
#relationship li {
	width: 17.5%;
	float: left;
	margin-left: 8.5px;
	border: 2px solid #aaaaaa;
	border-radius : 4px;
}
#relationship dl {
	width: 100%;
	height: 100%;
	cursor: pointer;
}
#relationship dt {
	width: 100%;
	height: 80px;
}
#relationship dt img {
	width: 100%;
	height: 100%;
}
#relationship .rel_name {
	border-bottom: 1px solid #aaaaaa;
	border-top: 2px solid #aaaaaa;
	font-weight: bold;
}
#relationship dd {
	width: 100%;
	font-size: 12px;
	color: white;
	padding: 3px 0px;
	text-align: center;
	background-color: #474747;
	border-radius: 4px;
}


#pakage .item {
	width: 98%;
	/* height: 94px; */
	background-color: #474747;
	margin-top: 7px;
	margin-bottom: 35px;
	border: 3px solid #aaaaaa;
	border-radius: 5px;
}
#pakage .item .four_contents {
	width: 95%;
	margin: 0 auto;
	/* height: 60px; */
	padding: 5px 0px;
	position: relative;
}
#pakage .four_contents .f_g_name {
	color: white;
	font-size: 20px;
	font-weight: bold;
}
#pakage .four_contents .f_g_ex {
	color: silver;
	font-size: 14px;
}
#pakage .tag {
	position: absolute;
	background-color: black;
	margin-top: -15px;
	border: 2px solid #aaaaaa;
	border-radius: 7px;
	right: 42%;
}
.tag .discount {
	background-color: #32435c;
	border-radius : 4px;
	padding: 9px 10px;
	border-right: 1px dashed white;
}
.tag .price {
	border-right: 1px dashed white;
	padding: 2px 10px;
}
.tag .price span{
	font-size: 12px;
	line-height: 3px;
}
.tag .price .nomal_p {
	font-size: 9px;
	color: silver;
	text-decoration: line-through;
	font-style: italic;
}
.tag li {
	color: white;
	font-weight: bold;
	font-size: 14px;
	float: left;
	overflow: hidden;
	text-align: center;
}
.tag input {
	padding: 5px 12px;
	color: white;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	border-radius: 5px;
	cursor: pointer;
	margin-top: 3px;
	margin-left: 5px;
	margin-right: 5px;
	text-shadow: -1px -1px 0px #1f2938;
	border: 0px;
}
.tag input:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}
















#pro_view #five_pro {
	margin-top: 40px;
	width: 28%;
	float: left;
	margin-left: 46px;
	overflow: hidden;
}

#five_pro #computer {
	width: 100%;
	margin-bottom: 30px;
	border-radius: 4px;
}
#five_pro #patch {
	width: 100%;
	height: 150px;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	overflow: auto;
}
#five_pro .five_btn {
	width: 100%;
	border: 2px solid #aaaaaa;
	border-radius: 8px;
	background-color: #32435c;
	color: white;
	font-weight: bold;
	padding: 10px 15px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 20px;
}
#five_pro #favorite {
	margin-top: 60px;
}
#five_pro .five_btn:hover {
	background-color: #232f41;
}
#five_pro button {
	padding: 3px 10px;
	border: 2px solid #aaaaaa;
	background-color: #32435c;
	color: white;
	font-size: 12px;
	float: right;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 3px;
	margin-top: 3px;
}
#five_pro button:hover {
	background-color: #232f41;
}
#five_pro table {
	border-collapse: collapse;
	border: 2px solid #aaaaaa;
	width: 100%;
}
#five_pro tr {
	width: 100%;
	padding: 3px 0px;
}
#five_pro td {
	height: 28px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #818181;
	padding: 1px 0px;
}
#five_pro .com_name {
	font-weight: bold;
}
#five_pro .com_title {
	font-size: 13px;
	font-weight: bold;
	border-bottom: 2px solid black;
}
#five_pro #my_pc {
	width: 18.5%;
	background-color: white;
	position: absolute;
	right: 36.7%;
	margin-top: 32px;
	opacity: 0.97;
	display: none;
	overflow: hidden;
}
#five_pro #my_pc table {
	word-break: break-all;
}
#five_pro #admin_btn {
	width: 100%;
	padding: 10px 0px;
	overflow: hidden;
}

#admin_btn input[type="button"] {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	background-color: #151c26;
	color: white;
	cursor: pointer;
	padding: 3px 8px;
	text-shadow: -1px -1px 0px #414141;
	float: right;
	overflow: hidden;
	margin-right: 2%;
}

#admin_btn input[type="button"]:hover {
	background-color: white;
	color: #151c26;
	text-shadow: -1px -1px 0px #c0c0c0;
	font-weight: bold;
}


#pro_view #six_pro {
	width: 99.8%;
	margin-top: 40px;
	float: left;
	overflow: hidden;
}
#six_pro #pro_grade {
	width: 50%;
	height: 20px;
	margin: 0 auto;
	padding: 10px 20px;
	border: 2px solid #aaaaaa;
	margin-bottom: 10px;
}
#six_pro #reply_write {
	width: 98%;
	padding: 5px 5px;
	border: 2px solid #aaaaaa;
	margin-bottom: 5px;
	margin: 0 auto;
	border-radius : 4px;
}
.re_title {
	width: 99.5%;
	padding: 7px 0px;
}
.re_title span {
	color: white;
	font-weight: bold;
	padding: 0px 10px;
	font-size: 18px;
}
.re_title #review_count {
	font-size: 12px;
}
.re_contents {
	width: 98.4%;
	border: 2px solid #aaaaaa;
	border-bottom: 1px dashed #aaaaaa;
	padding: 5px 5px;
}
.re_contents .re_user {
	width: 70.4%;
	color: white;
	font-weight: bold;
	font-size: 15px;
	padding: 5px 5px;
}
.re_contents textarea {
	width: 97.8%;
	height: 90px;
	color: white;
	padding: 5px 5px;
	border: 1px solid #aaaaaa;
	background-color: #3f3f3f;
	resize: none;
}
.re_contents #reply_contents{
	width: 97.8%;
	height: 90px;
	color: white;
	padding: 5px 5px;
	border: 1px solid #aaaaaa;
	background-color: #3f3f3f;
	resize: none;
}
.re_sub {
	width: 98.4%;
	padding: 5px 5px;
	border: 2px solid #aaaaaa;
	border-top: 1px dashed #aaaaaa;
	height: 37px;
}
.re_sub #save {
	font-weight: bold;
	color: white;
	padding: 8px 27px;
	border-radius: 8px;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	text-shadow: -1px -1px 0px #222d3e;
	border: 2px solid black;
	cursor: pointer;
	float: right;
}
.re_sub #save:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}
.reply_contents .re_sub div {
	border: 2px solid black;
	border-radius : 8px;
	background: linear-gradient(to bottom, #5977a4, #32435c);
	padding: 3px 15px;
	cursor: pointer;
	float: right;
	margin-right: 5px;
	margin-top: 4px;
}
.reply_contents .re_sub div:hover {
	background: linear-gradient(to bottom, #738cb3, #3e5271);
}
.reply_contents img {
	width: 15px;
	height: 15px;
}
.reply_contents strong {
	color: white;
	font-size: 12px;
	padding: 0px 5px;
}

#six_pro .reply_contents {
	width: 98%;
	padding: 15px 5px;
	margin: 0 auto;
}



/* 평점 */

.re_contents #pro_grades {
	width: 25%;
	padding: 0px 1.4%;
}
#pro_grades table {
	width: 100%;
	border-collapse: collapse;
}
#pro_grades td {
	padding: 3px 1.4%;
	color: white;
	font-weight: bold;
	text-shadow: -1px -1px 0px #414141;
}
#pro_grades select {
	padding: 3px 1.4%;
	font-size: 17px;
	color: white;
	background-color: #3f3f3f;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}
#pro_grades option {
	font-weight: bold;
	font-size: 17px;
	color: white;
	background-color: #3f3f3f;
}

.re_user input[type="button"]{
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	background-color: #151c26;
	color: white;
	cursor: pointer;
	padding: 3px 8px;
	text-shadow: -1px -1px 0px #414141;
	margin-right: 2%;
}
.re_user input[type="button"]:hover {
	background-color: white;
	color: #151c26;
	text-shadow: -1px -1px 0px #c0c0c0;
	font-weight: bold;
}













































