@CHARSET "UTF-8";

section {
	width: 100%;
	padding-top: 155px;
	padding-bottom: 100px;
	background-color: #666666;
	height: 1700px;
}

section #user_menu {
	width: 100%;
}

#pro_view h3 {
	width: 100%;
	font-weight: bold;
	color: white;
	font-size: 25px;
	margin-left: 20px;
	padding-bottom: 15px;
}

section #pro_view {
	width: 66%;
	margin: 0 auto;
	padding: 70px 15px;
}

#pro_view #first_pro {
	width: 58%;
	height: 250px;
	float: left;
	border: 2px solid #aaaaaa;
	padding: 10px 10px;
	border-radius : 4px;
}
#first_pro #main_img {
	width: 100%;
	height: 100%;
	border: 1px solid #aaaaaa;
	border-radius : 4px;
}




#pro_view #second_pro { 
	width: 37%;
	height: 410px;
	float: right;
}

#second_pro #title_img {
	width: 100%;
	height: 145px;
	border: 1px solid #aaaaaa;
}
#second_pro #game_info {
	width: 100%;
	height: 200px;
	border: 1px solid #aaaaaa;
}
#second_pro #game_evalution {
	width: 100%;
	height: 60px;
	border: 1px solid #aaaaaa;
}




#pro_view #third_pro {
	width: 60%;
	height: 120px;
	float: left;
	margin-top: 20px;
	margin-left: 4px;
}

#third_pro ul {
	width: 97.8%;
	height: 90%;
	padding: 5px 5px;
	border: 1px solid #aaaaaa;
}
#third_pro li {
	width: 17.5%;
	height: 90%;
	padding: 5px 6.7px;
	float: left;
}
#third_pro img {
	width: 98%;
	height: 98%;
	border: 1px solid #aaaaaa;
	border-radius : 4px;
}
#third_pro .sub_btn {
	position: absolute;
	opacity: 0.5;
	background-color: white;
	color: white;
	border: 1px solid black;
	z-index: 99;
	width: 50px;
	height: 50px;
	margin-top: 35px;
	cursor: pointer;
	border-radius : 30px;
}
#third_pro #before {
	background-image: url("/gps/resources/css/product/img/icon_left.png");
	background-size: 48px 48px;
	margin-left: 1px;
}
#third_pro #next {
	margin-left: 511px;
	background-image: url("/gps/resources/css/product/img/icon_right.png");
	background-size: 48px 48px;
}



#pro_view #four_pro {
	margin-top: 40px;
	width: 63%;
	float: left;
	padding: 40px 10px;
}
#pro_view #pakage {
	width: 100%;
}
#pro_view #relationship {
	width: 100%;
	height: 150px;
	margin-top: 50px;
}
#relationship span {
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	width: 100%;
	
}
#relationship ul {
	width: 98%;
	padding: 10px 0px;
}
#relationship li {
	width: 17.5%;
	float: left;
	height: 100px;
	margin-left: 12px;
	border: 1px solid #aaaaaa;
	border-radius : 4px;
}



#pakage .item {
	width: 98%;
	height: 94px;
	background-color: #939393;
	margin-top: 7px;
	margin-bottom: 35px;
	border: 3px solid #aaaaaa;
	border-radius: 5px;
}
#pakage .tag {
	position: absolute;
	background-color: black;
	width: 20%;
	height: 37px;
	margin-top: 75px;
	margin-left: 290px;
	border: 2px solid #aaaaaa;
	border-radius: 7px; 
}


#pro_view #five_pro {
	margin-top: 40px;
	width: 28%;
	float: left;
	margin-left: 46px;
}

#five_pro #computer {
	width: 100%;
	margin-bottom: 30px;
	border-radius: 4px;
}
#five_pro #patch {
	width: 100%;
	height: 150px;
	border: 1px solid #aaaaaa;
	border-radius: 4px;
	overflow: auto;
}
#five_pro .five_btn {
	width: 100%;
	border: 2px solid #aaaaaa;
	border-radius: 8px;
	background-color: #32435c;
	color: white;
	font-weight: bold;
	padding: 10px 15px;
	font-size: 15px;
	cursor: pointer;
	margin-top: 20px;
}
#five_pro .five_btn:hover {
	background-color: #232f41;
}
#five_pro button {
	padding: 3px 10px;
	border: 2px solid #aaaaaa;
	background-color: #32435c;
	color: white;
	font-size: 12px;
	float: right;
	border-radius: 8px;
	cursor: pointer;
	margin-bottom: 3px;
	margin-top: 3px;
}
#five_pro button:hover {
	background-color: #232f41;
}
#five_pro table {
	border-collapse: collapse;
	border: 2px solid #aaaaaa;
	width: 100%;
}
#five_pro tr {
	width: 100%;
	padding: 3px 0px;
}
#five_pro td {
	height: 28px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #aaaaaa;
	background-color: #818181;
	padding: 1px 0px;
}
#five_pro .com_name {
	font-weight: bold;
}
#five_pro .com_title {
	font-size: 13px;
	font-weight: bold;
	border-bottom: 2px solid black;
}



#pro_view #six_pro {
	width: 99.8%;
	margin-top: 40px;
	height: 200px;
	float: left;
	background-color: #b3b3d9;
}




























































